* {
    border: 1px solid red;
}

/* Header Styles */
.header, .footer{
    background-color: #1F2937;
    color: #F9FAF8;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    /* flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; */ 
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* Second Section Styles */
.about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px;
}
.hero{
    font-size: 48px;
    display: flex;
    flex-wrap: wrap;
    
}
.hero-sub {
    font-size: 18px;
    color: #E5E7EB;
}
button {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    padding: 5px 24px;
    border: none;
}

.left-about {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Third Section Styles */
.services {
    background-color: #E5E7EB;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center {
    display: flex;
}

/* Fifth Section Styles */
.contact {
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
}

.button-border{
    border: 1px white solid;
}

