* {
    /* border: 1px solid red; */
    margin: 0px 25px;
}

/* Header Styles */
.header, .footer{
    background-color: #1F2937;
    color: #F9FAF8;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* Second Section Styles */
.about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 100px;
}
.hero{
    font-size: 48px;
    display: flex;
    flex-wrap: wrap;
    
}
.hero-sub {
    font-size: 18px;
    color: #E5E7EB;
}
button {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    padding: 5px 24px;
    border: none;
}

.left-about {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Third Section Styles */
.services {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20;
}

.service p {
    padding-top: 10px;
}

.center {
    display: flex;
    align-items: space-between;
    gap: 30px;
}

.service-title{
    padding-bottom: 30px;
}


/* Fourth Section Styles */
.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.italic {
    font-size: 36px;
    font-style: italic;
}
.person {
    display: flex;
    align-self: flex-end;
    
}

/* Fifth Section Styles */
.contact {
    background-color: #3882F6;
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
    padding: 25px;
}

.button-border{
    border: 1px white solid;
}

.right-contact{
    display: flex;
    align-items: center;
}

/* Footer */
.footer {
    display:flex;
    justify-content: center;
    padding: 20px;
}

