.header{
    background-color: #1F2937;
    color: #F9FAF8;
}
.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}
.hero{
    font-size: 48px;
    
}
.hero-sub {
    font-size: 18px;
    color: #E5E7EB;
}
button {
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    padding: 5px 24px;
    border: none;
}